.App {
  text-align: center;
  background-image: url('https://img.freepik.com/premium-photo/cute-yellow-robot-stands-against-yellow-background_14117-692361.jpg?w=2000'); /* Example URL */
  background-size: cover;
  background-position: center;
  height: 100vh;
}
